@import "../../../default/variable.scss";

.nav {
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 1000;
  justify-content: center;

  &-content {
    background-color: $colorPrimary;
    width: 300px;
    position: relative;

    &__close {
      background-color: $red !important;
      position: absolute;
      z-index: 10000;
      right: 10px;
      top: 10px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      button {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
        color: $textColor !important;
        font-size: 18px;
        height: 40px;
        width: 40px;
        transition: 0.3s all ease-in-out;

        &:hover {
          background-color: #00000030;
        }
      }

    }

    &__logo {
      margin: 20px auto;
      margin-top: 40px;
      width: 100px;
      height: 100px;
      background-color: $textColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 70px;
      }
    }
  }

  &-list {
    margin: 20px 10px;
    margin-top: 50px;
    width: calc(100% - 20px);

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      margin: 20px 0px;
      background-color: #00000030;
      display: block;
    }

    &__item {
      text-decoration: none;
      button {
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: $textColor !important;
        font-size: 24px;
        font-weight: 700;

        span {
          margin-left: 10px;
          font-size: 18px;
        }

      }
    }
  }
}

.side {
  height: 100%;
  background-color: $colorPrimary;

  &-nav {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    figure {
      margin: 0;
      margin-top: 10px;
      width: 50px;
      height: 50px;
      background-color: $textColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
      }
    }

    button {
      margin-top: 30px;
      color: $textColor;
      font-size: 28px;
      font-weight: 700;
      padding: 5px;
      height: fit-content;

      h1 {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
