@import "../../../default/variable.scss";
.customer {

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 32px;
      font-weight: 500;
      color: $text;
      margin: 30px 0;
    }

    button {
      font-size: 16px;
      padding: 10px;
    }

    margin-bottom: 20px;
  }

  &-table {
    position: relative;

    th {
      background-color: $colorPrimary;
      font-size: 16px;
      color: $textColor;
      padding: 20px;
      text-align: center;
    }

    td {
      padding: 10px 20px;
      font-size: 14px;
      color: $text;
      text-align: center;

      &:nth-child(1) {
        color: $colorPrimary;
        font-weight: 700;
      }
    }

    &__actions {
      button {

        margin-left: 20px;

        &:nth-child(1) {
          margin-left: 0px;
        }
      }
    }
  }
}
