<section class="table" *ngIf="!isLoading; else loading">
  <mat-form-field class="example-full-width">
    <mat-label>{{ searchLabel }}</mat-label>
    <form [formGroup]="searchForm" #formDit="ngForm">
      <input type="text" placeholder="Digite o nome" aria-label="Number" matInput formControlName="search"
        [matAutocomplete]="auto" (keyup)="sendChange()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    </form>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let colum of columns" matColumnDef="{{ colum.column }}">
      <th mat-header-cell *matHeaderCellDef> {{ colum.name | titlecase }} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="colum.type == 'image' && !colum.baseApiUrL">
          <img [src]="element[colum.field]" />
        </ng-container>

        <ng-container *ngIf="colum.type == 'image' && colum.baseApiUrL">
          <img [src]="baseApiUrl+element[colum.field]" />
        </ng-container>

        <ng-container *ngIf="colum.type == 'text'">
          {{ element[colum.field] }}
        </ng-container>

        <ng-container *ngIf="colum.type == 'money'">
          R$ {{ element[colum.field]}}
        </ng-container>

        <ng-container *ngIf="colum.type == 'boolean'">
          {{ element[colum.field] ? 'Sim' : 'Não'}}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element" class="table-actions">
        <ng-container *ngFor="let action of actions">
          <button *ngIf="action.target === 'show'" mat-fab color="primary" aria-label="Ver" (click)="action.action(element['id'])">
            <fa-icon [icon]="faRectangleList">ver</fa-icon>
          </button>
          <button *ngIf="action.target === 'edit'" mat-fab color="accent" aria-label="Editar" (click)="action.action(element['id'])">
            <fa-icon [icon]="faPen">editar</fa-icon>
          </button>
          <button *ngIf="action.target === 'remove'" mat-fab color="warn" aria-label="Excluir" (click)="action.action(element['id'])">
            <fa-icon [icon]="faTrash">deletar</fa-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
